*{
    box-sizing: border-box;
 }

body{
    margin: 0;
    padding: 0;
    font-family: 'raleway', sans-serif;
    text-align: center;
}








.logo img{
  padding: 20px;
    width: 40%;


  }

.logo{
  width: 100%;
  display: flex;
  justify-content: center;



}













.header{
    background: rgb(231, 175, 224);
    background: linear-gradient(180deg, rgb(226, 170, 249) 0%, rgb(104, 194, 243) 64%, rgb(131, 84, 139) 100%);
    display: flex;
    align-items: center;
}

.menu ul, .headerSup ul{
    list-style-type: none;
    text-align: right;
}

.menu li{
    color: #ffffff;
    border-left: 2px solid rgb(255, 255, 255);
    display: inline-block;
    font-size: 1em;
    padding: 1%;

}

.headerSuprow li{
    display: inline-block;
    font-size: 0.8em;
    align-items:end;
}

.headerSuprow{
    display: flex;
    align-items: center;
    justify-content: center;
}

.material-symbols-outlined{
    padding-right: 5px;
    width: center;
}

.headerSuprow{
    text-align: center;
    list-style-type: none;
    background-color: #e7a4ca;
}

.imagen img{
    width: 100%;
    transform: scaleX(-1); /*Para voltear la imagen horizontalmente*/
}

.centrado{
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
}
.imagen{
    position: relative;
    display: inline-block;
    text-align: center;
    
}

.imagen h1{
    color: white;
    font-size: 2rem;
}
.imagen p{
    color: white;
    text-decoration: wavy;
    font-style: italic;
}

.fotis{
    width: 200px;
    height: 200px;
    padding: 2%;
  
  }
  .fots{
    display: flex;
  }

  
.button-53 {
  background-color:  rgb(248, 73, 201);
  border: 0 solid #acc1eb;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1.75rem;
  padding: .75rem 1.65rem;
  position: relative;
  text-align: center;
  text-decoration: none #ffffff solid;
  text-decoration-thickness: auto;
  width: 100%;
  max-width: 460px;
  position: relative;
  cursor: pointer;
  transform: rotate(-2deg);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-53:focus {
  outline: 0;
}

.button-53:after {
  content: '';
  position: absolute;
  border: 1px solid #fffcfc;
  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

.button-53:hover:after {
  bottom: 2px;
  left: 2px;
}


.formdos{
  padding: 20px;
}


.banner{
  width: 100%;
  height: 60%;
}

















/*FORMULARIO STYLE*/
body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

#boton {
  background-color: #ff76ef;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.telOculto, .emailOculto, .correOculto{
    display: none;

}








.h1{
  text-align: center;
  margin: auto;
  padding: 2%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size:large;

}
a{
  text-decoration: none;
}
a:visited{
  text-decoration: none;
  color: rgb(3, 81, 35);
}
a:hover{
  color: rgb(123, 189, 0);
  letter-spacing: 2px;
  margin: auto;
}
.imagen img {
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: justify;
  width: 100%;
}

.p1{
  text-align: center;
  margin: auto;
}

.productos{
  display: flex;
  text-align: center;
}



/*IMAGENES CON ZOOM*/
.carruselImg{
  display: flex;
  text-align: center;
  justify-content: center;
  width: 100%;

}
.proyecto {
  padding: 2%;
  width: 100%;
  }











  .logoo{
    max-width: 90%;
    }
    
    .titulo{
        max-width: 70%;
        text-align: center;
    }












.footer{
  background-color: rgb(250, 111, 218);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: italic;
  display: flex;
}


.f1, .f2, .f3{
  display: flex;
  padding: 0 6%;
  text-align: center;
  color: white;
}











@media (min-width: 768px) {
  .button-53 {
    padding: .75rem 3rem;
    font-size: 1.25rem;
  }
}


.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  flex: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}
.btn {
  border: none;
  outline: none;
  padding: 10px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
  font-size: 18px;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #666;
  color: white;
}






@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }

