 *{
    box-sizing: border-box;
 }

body{
    margin: 0;
    padding: 0;
    font-family: 'raleway', sans-serif;
}

.logo img{
    width: 15%;
  }
.header{
    background: rgb(55,157,19);
    background: linear-gradient(180deg, rgba(55,157,19,1) 0%, rgba(114,218,76,1) 64%, rgba(208,235,198,1) 100%);
    display: flex;
    align-items: center;
}

.menu ul, .headerSup ul{
    list-style-type: none;
    text-align: right;
}

.menu li{
    color: rgb(0, 74, 0);
    border-left: 2px solid rgb(255, 255, 255);
    display: inline-block;
    font-size: 1em;
    padding: 1%;

}

.headerSuprow li{
    display: inline-block;
    font-size: 0.8em;
    align-items:end;
}

.headerSuprow{
    display: flex;
    align-items: center;
    justify-content: center;
}

.material-symbols-outlined{
    padding-right: 5px;
    width: center;
}

.headerSuprow{
    text-align: center;
    list-style-type: none;
    background-color: #cfa455;
}

.imagen img{
    width: 100%;
    transform: scaleX(-1); /*Para voltear la imagen horizontalmente*/
}

.centrado{
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
}
.imagen{
    position: relative;
    display: inline-block;
    text-align: center;
}

.imagen h1{
    color: white;
    font-size: 2rem;
}
.imagen p{
    color: white;
    text-decoration: wavy;
    font-style: italic;
}


.button-53 {
  background-color:  rgb(55,157,19);
  border: 0 solid #E5E7EB;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1.75rem;
  padding: .75rem 1.65rem;
  position: relative;
  text-align: center;
  text-decoration: none #ffffff solid;
  text-decoration-thickness: auto;
  width: 100%;
  max-width: 460px;
  position: relative;
  cursor: pointer;
  transform: rotate(-2deg);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-53:focus {
  outline: 0;
}

.button-53:after {
  content: '';
  position: absolute;
  border: 1px solid #fffcfc;
  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

.button-53:hover:after {
  bottom: 2px;
  left: 2px;
}

@media (min-width: 768px) {
  .button-53 {
    padding: .75rem 3rem;
    font-size: 1.25rem;
  }
}


.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  flex: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}
.btn {
  border: none;
  outline: none;
  padding: 10px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
  font-size: 18px;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #666;
  color: white;
}


















@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }

