*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h1{
    color: lightcoral;
    text-align: center;
}

.contenedor{
    max-width: 70%;
    margin: auto;
}
#imgEdad, .texto-centrado{
    text-align: center;
}

#error{
    color: rgb(156, 11, 11);
    font-style: oblique;
}